*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    min-height: 100vh
    background: linear-gradient(#83c5be, #006d77)

header
    height: 15vh
    display: flex
    justify-content: center
    align-items: center
    h1
        color: #edf6f9
        font-size: 3rem

form
    display: flex
    justify-content: center
    align-items: center
    input,button
        border: none
        padding: 0.25rem 0.75rem
        margin: 0.1rem
        font-size: 1.25rem
    input[type="number"]
        text-align: center
    button
        cursor: pointer
        background: #016074
        color: #edf6f9
