*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins', sans-serif

i
    pointer-events: none
    // 使 i 圖形元素不成為 pointer event，可以直接點到 button

body
    min-height: 100vh
    background: linear-gradient(#83c5be, #006d77)

header
    height: 15vh
    display: flex
    justify-content: center
    align-items: center
    h1
        color: #eee
        font-size: 3rem

form
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 2rem
    input,button
        border: none
        padding: 0.25rem 0.75rem
        margin: 0.2rem
        font-size: 1.25rem
    input[type="number"]
        text-align: center
    button
        cursor: pointer
        background: #016074
        color: #eee

section
    display: flex
    flex-direction: column
    align-items: center
    div.todo
        width: 70vw
        display: flex
        align-items: center
        margin: 0.2rem
        transition: all 0.1s ease
        p
            background: #f6fcfd
            color: #222
            padding: 0.25rem 0.5rem
            font-size: 1.5rem
        p.todo-text
            width: 60%
        p.todo-time
            width: 25%
            text-align: center
        button
            padding: 0.25rem 0.5rem
            font-size: 1.5rem
            border: none
            cursor: pointer
            color: #eee
        button.complete
            background: #02bd6f
        button.trash
            background: #b11500

.done
    opacity: 0.5
    text-decoration: line-through
    text-decoration-thickness: 0.2rem

@keyframes scaleUP
    0%
        transform: scale(0)
    100%
        transform: scale(1)

@keyframes scaleDown
    0%
        transform: scale(1)
    100%
        transform: scale(0)
